@page "/login"
@using Shared.Models;
@using Data;
@inject NavigationManager NavMan;
@inject IAuthenticationService Auth;

<div class="text-center login-title">
    <h3>Login</h3>
</div>
<div class="text-center">
    <EditForm Model="@authModel" OnValidSubmit="@TryAuthenticate">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div>
            <label for="a01username"><strong>Username</strong></label>
            <InputText id="a01username" @bind-Value="authModel.UserName" />
        </div>
        <div>
            <label for="a01password"><strong>Password</strong></label>
            <InputText id="a01password" @bind-Value="authModel.Password" />
        </div>

        <button type="submit">Submit</button>
    </EditForm>

    @if (!string.IsNullOrEmpty(message))
    {
        <div class="jumbotron"> @message </div>
    }
</div>

@code {


    private AuthModel authModel = new AuthModel();
    private string message = string.Empty;

    //protected override async Task OnInitializedAsync()
    //{

    //}

    private async Task<bool> TryAuthenticate()
    {
        message = await Auth.Test();
        return false;
    }
}
